# https://docs.github.com/en/actions/using-workflows
name: Sarus Documentation

on:
  workflow_call:

jobs:
  check-version-and-docs:
    name: check-version-and-docs
    runs-on: ubuntu-latest
    steps:
      - name: Check Version and Docs
        shell: bash
        run: |
          git clone --branch ${GITHUB_REF_NAME} --depth 1 --recursive --shallow-submodules https://github.com/eth-cscs/sarus && cd sarus
          . CI/utility_docker_functions.bash
          sarus-build-images
          sarus-check-version-and-docs $(pwd)